
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
body{
    align-items: center;
}
.container{
    font-family: 'Protest Strike', sans-serif;
    box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.15);
    word-spacing: 5px;
    font-size: large;
    background: #8EC5FC linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
   align-items: center; 
}
 .buttons{
    padding: 15px;
 }